experiment
dist
coverage
node_modules
devAssets

.DS_Store
.idea

.env

.wrangler
.dev.vars*
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
*.tfbackend
!*.tfbackend.example
crash.log

# the following line was added with the "git ignore" tool by itsrye.dev, version 0.1.0
.lh
